<!doctype html>
<html lang="en">
  <head>
    <title>Testing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
  </head>

  <body>

    <div class="main-content"  ng-app="testApp">

      <div ng-controller="controller1" id="div1" class="controller-div">
        <h3>Controller 1</h3>
        <div>
          <input type="text" placeholder="string1" ng-model="string1">
          <button ng-click="action()">submit</button>
          <p>{{string1}}</p>
        </div>
      </div>


      <div ng-controller="controller2" id="div2" class="controller-div">
        <h3>Controller 2</h3>
        <!-- list items from array here -->
        {{string2}}
      </div>

      <!-- <div class="service-div">
        <h3>Service</h3>

      </div> -->

    </div>
  </body>
</html>
