<!doctype html>
<html lang="en" ng-app="filterApp">
  <head>
    <title>Testing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="filterAppController">
    <h1>Angular JS testing page</h1>

    <div>
      <h3>Practice with promises</h3>
      <p>promisses are objects created with the $q service</p>
      <input type="text" placeholder="items" ng-model="itemString">
      <input type="text" placeholder="quantity" ng-model="quantityString">
      <button ng-click="addItem()">add items</button>

      <div>
        <ul>
          <li ng-repeat="item in items">
            <span>{{item.quantity}} {{item.name}}   </span>
            <button ng-click="removeItem($index)">remove</button>
          </li>
        </ul>
      </div>

    </div>

  </body>
</html>
